services:
  playground:
    build:
      context: ..
      dockerfile: playground/Dockerfile
    ports:
      - "8040:8080"
    volumes:
      - /home/sottey/docker-data/prygo-data:/go/src/app/playground/bundles
    restart: unless-stopped

